---
import { NotebookPen } from "lucide-react";
import { Button } from "../ui/button";
import { Image } from "astro:assets";

import ImageHero from "@/assets/images/hero/PORTADA PRINCIPAL.avif";
import ImageHero2 from "@/assets/images/hero/Fotos Oficiales-251.avif";
import ImageHero3 from "@/assets/images/hero/Fotos Oficiales-186.avif";
import ImageHero4 from "@/assets/images/hero/Fotos Oficiales-51.avif";
import ImageHero5 from "@/assets/images/hero/Fotos Oficiales-175.avif";
import SwiperHome from "../swiperHome";
---

<section id="Inicio" class="relative py-12 md:py-32">
    <div
        class="h-[100dvh] absolute inset-0 w-full z-10 [mask-image:radial-gradient(ellipse_99%_100%_at_50%_-10%,#000_80%,transparent_100%)] brightness-50 opacity-60 md:[mask-image:radial-gradient(ellipse_90%_100%_at_50%_-20%,#000_80%,transparent_100%)]"
    >
        <SwiperHome client:load />
    </div>
    <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#f54900,transparent)] opacity-60"
    >
    </div>

    <div
        class="relative z-20 container mx-auto max-w-screen-sm pt-24 pb-2 text-center px-2 md:pt-20 md:pb-10"
    >
        <h2 class="mb-3 font-semibold text-4xl lg:text-7xl">
            Altos de Monardez Centro de Eventos en La Serena
        </h2>
        <p class="mb-5 text-sm text-zinc-200 text-pretty md:text-base">
            ¿Buscas un lugar con estilo, amplitud y naturaleza para celebrar tu
            evento en La Serena? Altos de Monardez es un centro de eventos
            exclusivo ubicado a solo 8 km del centro de La Serena, camino al
            Valle de Elqui. Un espacio diseñado para que tu evento sea más que
            una reunión: una experiencia inolvidable.
        </p>
        <Button
            className="bg-amber-600 hover:bg-amber-700 text-white font-medium rounded-md transition-colors duration-300"
        >
            <a
                href="https://api.whatsapp.com/send?phone=56969175107&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2"
            >
                Contacatos para hacer tu evento
                <NotebookPen className="h-4 w-4" />
            </a>
        </Button>
    </div>
    <div
        class="mx-auto relative z-20 max-w-screen-xl overflow-hidden py-12 md:mt-14"
    >
        <div class="relative w-full group">
            <div class="relative px-2">
                <Image
                    src={ImageHero}
                    alt="placeholder"
                    class="relative mx-auto max-h-[480px] w-full rounded-xl object-cover shadow-md lg:static lg:max-w-[60vw] xl:max-w-screen-md"
                />
                <Image
                    src={ImageHero}
                    alt="placeholder"
                    class="absolute mx-auto blur-xl saturate-200 -z-10 inset-0 max-h-[480px] w-full rounded-xl object-cover shadow-md lg:left-0 lg:max-w-[60vw] xl:max-w-screen-md"
                />
            </div>
            <Image
                src={ImageHero2}
                alt="placeholder"
                class="absolute top-0 right-20 -z-10 hidden max-h-60 -rotate-12 rounded-xl object-cover shadow-md rotate-y-180 lg:block group-hover:rotate-0 group-hover:right-0 transition-all duration-500 ease-in-out"
            />
            <Image
                src={ImageHero3}
                alt="placeholder"
                class="absolute right-20 bottom-0 hidden rotate-12 rounded-xl object-cover shadow-md md:max-h-60 lg:block group-hover:rotate-0 group-hover:-bottom-5 group-hover:right-10 transition-all duration-500 ease-in-out"
            />
            <Image
                src={ImageHero4}
                alt="placeholder"
                class="absolute -top-20 left-[20%] hidden -z-10 max-h-44 rotate-12 rounded-xl object-cover shadow-md min-[450px]:max-h-52 sm:left-1/3 md:top-0 md:max-h-60 lg:left-20 lg:block group-hover:rotate-0 group-hover:-left-0 transition-all duration-500 ease-in-out"
            />
            <Image
                src={ImageHero5}
                alt="placeholder"
                class="absolute -bottom-20 left-[20%] hidden max-h-44 -rotate-12 rounded-xl object-cover shadow-md min-[450px]:max-h-52 sm:left-1/3 md:bottom-0 md:max-h-60 lg:left-20 lg:block group-hover:rotate-0 group-hover:left-10 group-hover:-bottom-5 transition-all duration-500 ease-in-out"
            />
        </div>
    </div>
</section>
